<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form method="post">
    <h2>Login Form</h2>
    <div><input value="Enter Text" name="text_input" id="text_input" type="text"></div>
    <div><button value="Fetch Speech" name="fetch" id="fetch" type="submit">Fetch Speech</button></div>
    <div><button value="play" name="play" id="play" type="submit">Play</button></div>
    <div><button value="download" name="download" id="download" type="submit">Download</button></div>
</form>
</body>

</html>