<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Home</title>

    </head>

    <title>Text to Speech</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css') }}">

    <body>
        <div class="parent">

            <form method="post">

                <div class="card">

                    <h2 style="margin-left: 30%">Text to Speech</h2>

                    <label class="input">

                      <input class="input__field" value="Enter Text" name="text_input" id="text_input" type="text" style="width: 80%; margin-left: 10%"/>

                    </label>

                    <div class="button-group">

                      <button value="Fetch Speech" name="fetch" id="fetch" type="submit" style="width:40%; margin-left: 30%;">Fetch Speech</button><br><br>
                      <button value="play" name="play" id="play" type="submit" style="width: 25%; margin-left: 20%;">Play</button>
                      <button value="download" name="download" id="download" type="submit" style="width: 30%;">Download</button>

                    </div>

                </div>

            </form>

        </div>

    </body>

</html>